/* Give your page a fun background color */
body {
    background-color: royalblue;
}
/* Make the header and footer a different color from the background */
header {
    background-color: bisque;
}

footer {
    background-color: bisque;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: beige;
    font-style: italic;
}
/* Put a border around your image */
img {
    border-style: groove;
    border-radius: 2px;
    border-color: blanchedalmond;
}
/* Change the font-family of your list */
ul {
    font-family: Arial;
}